/*Custom font url*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans&family=Poppins:wght@600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom scrollbar for the news section on the right */
::-webkit-scrollbar{
    width: 8px;
}    
::-webkit-scrollbar-track{
    background: #191919;
}
::-webkit-scrollbar-thumb{
    background: #aaa;
    border-radius: 100px;
}


body{
    background-color:#212121;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-height: 100vh;
    color: #ffffff;

}
/* header styling */
.header{
    background-color: #191919;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}
.logo{
    color:rgb(175, 65, 65);
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
  
}
nav ul{
    display:flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
    margin: 0 15px;
    padding: 10px;
    border-left: .5px solid #191919;
    border-right: .5px solid #191919;
    transition: 0.3s;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li:hover{
    border-left: .5px solid white;
    border-right: .5px solid white;
}
/* header styling completed */


/* main news section starts */
    
    /* left side */
.topHeadlines{
    padding: 100px 50px 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.topHeadlines .left{
    padding: 10px 30px;
    /* background-color: grey; */
}
.topHeadlines .left >.title{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.topHeadlines .left .img {
    width: 100%;
    height: 400px;
    background-color: rgb(175, 65, 65);
}
.topHeadlines .left .img img{
    width: 100%;
    height: 100%;
}
.topHeadlines .left .text{
    padding: 20px 15px 10px;
}
.topHeadlines .left .text .title h2{
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline;
}
.topHeadlines .left .text .title a{
    color: #ffffff;
    text-decoration: none;
}
.topHeadlines .left .text .title h2:hover{
    text-decoration: underline;
    
}
.topHeadlines .left .text .description{
    font-size: 15px;
    margin-top: 10px;
    color: #aaa;
    letter-spacing: 1px;
}
.topHeadlines .left .text .description a{
    color: #aaa;
}
    /* left side completed */

    /* right side begins */
.topHeadlines .right{
    padding: 10px;
    width: 100%;
    height: 500px;
}
.topHeadlines .right > .title{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.topHeadlines .right .topNews{
    padding: 7px;
    height: 85%;
    border: 2px solid white;
    border-radius: 5px;
    overflow-y: scroll;
}
.topHeadlines .right .topNews .news{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 20px;
}
.topHeadlines .right .topNews .news .img{
    width: 170px;
    height: 120px;
    background-color: #a04;
}
.topHeadlines .right .topNews .news .img img{
    width: 100%;
    height: 100%;
}
.topHeadlines .right .topNews .news .text{
    margin-left: 10px;
  
}
.topHeadlines .right .topNews .news .text .title{
    cursor: pointer;
}
.topHeadlines .right .topNews .news .text .title:hover{
    text-decoration: underline;
}

/* Second section of the page starts*/
.page2{
    width: 100%;
    padding: 50px;
    background-color: #303030;
    min-height: 100vh;
}
.page2 .news{
    padding: 30px 0;
    border-bottom: 1px solid grey;
}
.page2 .news:last-child{
    border-bottom: none;
}
.page2 .news >.title h2{
    font-size: 40px;
    display: inline;
    cursor: pointer;
}
.page2 .news >.title h2:hover{
    text-decoration: underline;
}
.page2 .news .newsBox {
    margin-top: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: grey;
    width: 100%;
    grid-gap: 20px;
}
/* styling news cards begins */

.page2 .news .newsBox .newsCard {
  min-height: 250px;
  background-color: aquamarine;
}
.page2 .news .newsBox .newsCard img{
    width: 100%;
    height: 150px;
    background-color:#a04;
}
.page2 .news .newsBox .newsCard .text{
    padding: 1em;
}
.page2 .news .newsBox .newsCard .text .title p{
    cursor: pointer;
    font-size: 15px;
    display: inline;
}
.page2 .news .newsBox .newsCard .title p:hover{
    text-decoration: underline;
}
/* styling news cards finished */
/* Second section ends */

/* styling footer section begins */
footer{
    min-height: 250px;
    color: #191919;
    width: 100%;
    padding: 3em 4em 0
}

.icons a{
color: white;
}

.box{
    width: 100%;
    margin: auto auto;
    display: flex;
    
}
.box .left{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 2.5em;
}
.box .right{
    flex: 1;
}
.footerHeading{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
}
.categories div{
    color: white;
    opacity: 90%;
}
.contact div{
    color: grey;
}
.categories div,.contact div{
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 20px;
    
}
.contact a{
    margin-right: 20px;
    size: 20px;
    font-size: 30px;
}
.right{
    padding: 30px;
    margin-left: 40px;
}
.right #subscribe{
    padding: 1em;
    width: 65%;
    border-radius: 5px;
    border: none;
}
.right #sub-btn{
    
    padding: 10px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #191919;
    margin-left: 10px;
    border: 1px solid white;
    cursor: pointer;
}
#sub-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.copyrights{
    width: 100%;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 60%;
    padding: 10px;
}

/* footer section ends */